@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

@font-face {
  font-family: 'Geist';
  src: url('GeistVF.woff2') format('woff2'),
    url('GeistVF.woff') format('woff'),
    url('GeistVF.ttf') format('truetype');
}

html {
  scroll-behavior: smooth !important;
}

body {
  font-family: 'Geist', Fallback, sans-serif !important;
}

:root {

  --black-color: #090A0C;
  --white-color: #E5E5E5;
  --gray-color: #191919;

  --hover-color: rgba(255, 255, 255, 0.1);

  --accent-color: #FF715B;
  --on-accent-color: #4A0A00;


  --xxs: .25rem;
  --xs: .5rem;
  --s: .75rem;
  --m: 1rem;
  --l: 1.25;
  --xl: 1.75rem;
  --xxl: 2.5rem;
}

.dark-mode {
  background-color: var(--black-color) !important;
  color: var(--white-color) !important;
}

.dark-mode .icon {
  color: var(--white-color);
}

.light-mode {
  background-color: var(--white-color) !important;
  color: var(--black-color) !important;
}
.light-mode .icon {
  color: var(--black-color);
}


.icon { color: var(--accent-color); }

.can-hover:hover { background-color: var(--hover-color) !important; }

.radius-xs { border-radius: 6px; }
.radius-s { border-radius: 8px; }
.radius-m { border-radius: 12px; }
.radius-l { border-radius: 16px; }
.radius-xl { border-radius: 20px; }
.radius-xxl { border-radius: 32px; }

.has-soft-shadow { box-shadow: rgba(0, 0, 0, 0.55) 2px 5px 15px; }
.has-hard-shadow { box-shadow: rgba(0, 0, 0, 1) 2px 5px 15px; }

/* Navbar ------------------------------------------------- */
.navbar-burger {
  color: var(--accent-color) !important;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: var(--accent-color) !important;
}

.navbar,
.navbar-dropdown {
  transition: all 0.2s ease-out;
}

.navbar-menu,
.navbar-dropdown .navbar-item:not(.is-active, .is-selected) {
  background-color: inherit !important;
}

/* Disable border on firefox */
.maxfocus-highlighted {
  box-shadow: none !important;
}

/* Repositories ------------------------------------------------------------- */

#projects {
  font-size: clamp(2rem, 10vmin, 8rem);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  --stretch-multiplier: 5;

  display: flex;
  gap: 0.02ch;
  justify-content: center;
  align-items: center;

  scroll-margin-top: 100px;
}

#projects {
  --stretch: var(--stretch-multiplier);
}

.stretch-o {
  height: 1.12ch;
  width: calc(var(--stretch) * 1.16ch);
  translate: 0 -0.01ch;
  border: 0.25ch solid var(--white-color);
  border-radius: 1ch;
  /* transition: width 0.55s; */
  position: relative;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.repo-img {
  transition: all 0.2s ease;
}

.repo-link:hover .repo-img {
  transform: scale(1.04);
  opacity: 0.8;
}

.repo-box .repo-icon {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 3em;
  transition: all 0.2s ease;
}

.repo-box:hover .repo-icon {
  top: 50%;
  opacity: 1;
}

/* Indicator on hover ------------------------------------------  */
.has-indicator::before {
  background-color: white;
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  height: 4px;
  width: 40%;
  border-radius: 6px;
  opacity: 0;
  transform: translate(-50%, 100%);
  transition: all .2s 0.1s ease-in-out;
}

.has-indicator:hover::before {
  opacity: 1;
  transform: translate(-50%, 0);
}

@media screen and (max-width: 1024px) {
  .has-indicator::before {
    display: none;
    /* Disable on small screens */
  }
}


/* Animate on Scroll --------------------------------------- */
/* @media(prefers-reduced-motion) { */
/*   .hidden { */
/*     transition: none; */
/*   } */
/* } */

.reveal {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1.0s ease;
}

.show {
  transform: translate(0, 0);
  opacity: 1;
}

.section:nth-child(2) {
  transition-delay: 600ms;
}

/* Scrollbar --------------------------------------------- */
::-webkit-scrollbar {
  width: 0.3rem;
  /* Width of the scrollbar */
  margin: 5px;
}

body::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: transparent;
  /* Track color */
}

body::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: #ccc;
  /* Thumb color */
  border-radius: 4px;
  /* Rounded corners */

}

body::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: #fff;
  /* Thumb color on hover */
}

/* For Firefox */
/* Set the width of the scrollbar */
body {
  scrollbar-width: thin;
  /* 'thin', 'auto', or 'none' */
}
