@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

@font-face {
  font-family: 'Geist';
  src: url('GeistVF.woff2') format('woff2'),
    url('GeistVF.woff') format('woff'),
    url('GeistVF.ttf') format('truetype');
}

html { scroll-behavior: smooth !important; }
body { font-family: 'Geist', sans-serif !important; }

:root {
  --black-color: #090A0C;
  --black-light-color: #1F1F1F;
  --white-color: #E5E5E5;
  --white-dark-color: #E0E0E0;
  
  --primary-color: #FF715B;
  --secondary-color: #CBEAA6;
  --tertiary-color: #15A6F0; 

  --xxs: .25rem;
  --xs: .5rem;
  --s: .75rem;
  --m: 1rem;
  --l: 1.25;
  --xl: 1.75rem;
  --xxl: 2.5rem;
}

.dark-mode.light {
  --surface-color: #F5F5F5;
  --on-surface-color: #000;
  --hover-color: rgba(0, 0, 0, 0.1);

  /* --hover-color: #E0E0E0; */

  --accent-color: var(--primary-color);
  background-color: var(--surface-color) !important;
}

/* Dark mode */
.dark-mode {
  --surface-color: #090A0C;
  --on-surface-color: #E5E5E5;
  --hover-color: rgba(255, 255, 255, 0.1);

  --accent-color: var(--tertiary-color);

  background-color: var(--surface-color) !important;
}

.main-frame {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 0) 100%), url(../assets/img/pattern-waves.svg);
  background-repeat: repeat;
}

.main-frame.light {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 212, 255, 0) 100%), url(../assets/img/pattern-waves-light.svg);
}

.icon {
  color: var(--on-surface-color) !important;
}
.navbar-burger,
.accent-color { 
  color: var(--accent-color) !important;
}
.navbar-link:not(.is-arrowless)::after {
  border-color: var(--accent-color) !important;
}
.can-hover:hover { 
  background-color: var(--hover-color) !important;
}

#switch-mode:hover {
  background-color: #191919 !important;
}

#switch-mode.light:hover{
  background-color: #DDD !important;
}

span:not([aria-hidden="true"]),
title {
  color: var(--on-surface-color);
}

.radius-xs { border-radius: 6px; }
.radius-s { border-radius: 8px; }
.radius-m { border-radius: 12px; }
.radius-l { border-radius: 16px; }
.radius-xl { border-radius: 20px; }
.radius-xxl { border-radius: 32px; }

.has-soft-shadow { box-shadow: rgba(0, 0, 0, 0.55) 2px 5px 15px; }
.has-hard-shadow { box-shadow: rgba(0, 0, 0, 1) 2px 5px 15px; }


.navbar > * {
  transition: none !important;
  animation: none !important; 
}

.main-frame, .icon, .navbar > *, .navbar-burger, .accent-color, .navbar-link:not(.is-arrowless)::after, #switch-mode, title, subtitle, p, span:not([aria-hidden="true"]){
  transition: background-color 1.0s ease, color 0.6s ease-in-out, border-color 0.6s ease;
}

.navbar > *:hover, .navbar-burger:hover, #switch-mode {
  transition: background-color 0.2s ease, color 0.2s ease-in-out !important;
}

/* Navbar ------------------------------------------------- */

.navbar-menu,
.navbar-dropdown .navbar-item:not(.is-active, .is-selected) {
  background-color: inherit !important;
}

/* Disable border on firefox */
.maxfocus-highlighted {
  box-shadow: none !important;
}

/* Repositories ------------------------------------------------------------- */

#projects {
  font-size: clamp(2rem, 10vmin, 8rem);
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  --stretch-multiplier: 5;

  display: flex;
  gap: 0.02ch;
  justify-content: center;
  align-items: center;

  scroll-margin-top: 100px;
}

#projects {
  --stretch: var(--stretch-multiplier);
}

.stretch-o {
  height: 1.12ch;
  width: calc(var(--stretch) * 1.16ch);
  translate: 0 -0.01ch;
  border: 0.25ch solid; /* var(--white-color); */
  border-radius: 1ch;
  /* transition: width 0.55s; */
  position: relative;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.repo-img {
  transition: all 0.2s ease;
}

.repo-link:hover .repo-img {
  transform: scale(0.96);
}

.repo-box .repo-icon {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  font-size: 3em;
  transition: all 0.2s ease;
}

.repo-box:hover .repo-icon {
  top: 50%;
  opacity: 1;
}

/* Switch mode ----------------------------------------------- */
#switch-mode {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.75rem;
}



/* Animate on Scroll --------------------------------------- */
/* @media(prefers-reduced-motion) { */
/*   .hidden { */
/*     transition: none; */
/*   } */
/* } */

.reveal {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1.0s ease;
}

.show {
  transform: translate(0, 0);
  opacity: 1;
}

.section:nth-child(2) {
  transition-delay: 600ms;
}

/* Scrollbar --------------------------------------------- */
::-webkit-scrollbar {
  width: 0.3rem;
  /* Width of the scrollbar */
  margin: 5px;
}

body::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: transparent;
  /* Track color */
}

body::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: #ccc;
  /* Thumb color */
  border-radius: 4px;
  /* Rounded corners */

}

body::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: #fff;
  /* Thumb color on hover */
}

/* For Firefox */
/* Set the width of the scrollbar */
body {
  scrollbar-width: thin;
  /* 'thin', 'auto', or 'none' */
}
