@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes slide-bottom {
  0% { 
    transform: translateY(-100%);
    opacity: 0; }
  100% { 
    transform: translateY(0);
    opacity: 1; }
}

@keyframes slide-right {
  0% { 
    transform: translateX(-100%);
    opacity: 0; }
  100% { 
    transform: translateX(0);
    opacity: 1; }
}

@font-face {
  font-family: 'Geist';
  src: url('GeistVF.woff2') format('woff2'),
       url('GeistVF.woff') format('woff'),
       url('GeistVF.ttf') format('truetype');
}

body {
  font-family: 'Geist', Fallback, sans-serif !important;
}

html {
  scroll-behavior: smooth !important;
}

:root {
  --accent-color: #BDE6FB;
  --on-accent-color: #191F22;

  --secondary-color: #FF715B;
  --on-secondary-color: #4A0A00;

  --hover-color: rgba(255,255,255, 0.125);

  --xxs:    .25rem;
  --xs:     .5rem;
  --s:      .75rem;
  --m:      1rem;
  --l:      1.25;
  --xl:     1.75rem;
  --xxl:    2.5rem;
}

.icon { color: var(--accent-color); }
.card-bg { background-color: var(--on-accent-color) !important; }
.can-hover:hover {
  background-color: var(--hover-color) !important;
}

.radius-xs { border-radius: 6px; }
.radius-s { border-radius: 8px; }
.radius-m { border-radius: 12px; }
.radius-l { border-radius: 16px; }
.radius-xl { border-radius: 20px; }
.radius-xxl { border-radius: 32px; }

/* Navbar ------------------------------------------------- */
.navbar-burger {
  color: var(--accent-color) !important;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: var(--accent-color) !important;
}

/* Profile header ---------------------------------------- */
.gradient-background {
  background: linear-gradient(135deg, #000, #333);
}

.fa-sort-down {
  animation: float 3s infinite ease-in-out;
}

.profile-img-overlay, .profile-svg-overlay { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
}

.profile-svg-overlay {
  opacity: .5;
}

/* Scrollbar --------------------------------------------- */
::-webkit-scrollbar {
  width: 0.3rem; /* Width of the scrollbar */
  margin: 5px;
}

body::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}

body::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: #ccc; /* Thumb color */
  border-radius: 4px; /* Rounded corners */

}

body::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: #fff; /* Thumb color on hover */
}

/* For Firefox */
/* Set the width of the scrollbar */
body {
  scrollbar-width: thin; /* 'thin', 'auto', or 'none' */
}

/* Animate on Scroll --------------------------------------- */
/* @media(prefers-reduced-motion) { */
/*   .hidden { */
/*     transition: none; */
/*   } */
/* } */

.reveal {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1.0s ease;
}

.show {
  transform: translate(0,0);
  opacity: 1;
}

.section:nth-child(2) {
  transition-delay: 600ms;
}
/* Animate ------------------------------------------------- */

.is-active * {
  animation: none !important;
  transition: none !important;
}
.slide-bottom {
  animation: slide-bottom 0.8s ease;
}

.slide-right {
  animation: slide-right 1s ease;
}

/* Navbar -------------------------------------------------- */
.navbar,
.navbar-dropdown {
  transition: all 0.5s ease-out;
}

.navbar-menu,
.navbar-dropdown .navbar-item:not(.is-active, .is-selected) {
  background-color: inherit !important;
}

/* Disable border on firefox */
.maxfocus-highlighted {
  box-shadow: none !important;
}

/* Indicator on hover ------------------------------------------  */
.has-indicator::before {
  background-color: white;
  content: "";
  position: absolute;
  bottom: 4px;
  left: 50%;
  height: 4px;
  width: 40%;
  border-radius: 6px;
  opacity: 0;
  transform: translate(-50%, 100%); 
  transition: all .2s 0.1s ease-in-out;
}

.has-indicator:hover::before {
  opacity: 1;
  transform: translate(-50%, 0);
}

@media screen and (max-width: 1024px) {
  .has-indicator::before {
    display: none; /* Disable on small screens */
  }
}

/* Repositories ------------------------------------------------------------- */
.repo-img {
  transition: all 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 30px -15px;
}

.repo-link:hover .repo-img {
  transform: scale(0.95);
  box-shadow: rgb(0, 0, 0) 0px 20px 30px -5px;
  opacity: 0.6;
}

.repo-box .repo-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.2s ease 0.1s; 
}

.repo-box:hover .repo-icon {
  font-size: 3em;
  opacity: 1;
}
