---
import Default from '../layouts/Default.astro';
import Hero from  '../components/Hero.astro';
import RepoCard from '../components/RepoCard.astro';

---
<Default title="Home">

  <!-- Profile header --------------------------------------------------- -->
  <Hero username ="zDyanTB"/>      

  <!-- Projects --------------------------------------------------------------- -->
    <!-- Title -->
  <div class="container is-max-widescreen">
    <span class="title" id="projects" aria-hidden="true">
      <span>Projects</span>
    </span>
  </div>

  <!-- Content -->
  <div class="container is-fullhd" id="repo-container">
    <RepoCard repoName="zDyanTB/HyprNova" bannerPath=".github/nova-logo.jpg" />
  </div>
<div class="clip"></div>
</Default>
