---

---
<nav id="navbar" class="is-card is-flex is-justify-content-space-around radius-l px-4 py-2" role="navigation">

  <div>

    <!-- Icons -->
    <a class="can-hover is-inline-block radius-l p-1" href="/">
      <span class="icon is-large">
        <i class="fa-solid fa-house fa-xl"></i>
      </span>
    </a>

    <a class="can-hover is-inline-block radius-l p-1" href="https://github.com/zDyanTB">
      <span class="icon is-large">
        <i class="fa-brands fa-github fa-xl"></i>
      </span>
    </a>

    <a class="can-hover is-inline-block radius-l p-1" href="https://ko-fi.com/zdyant">
      <span class="icon is-large">
        <i class="fas fa-mug-hot fa-xl"></i>
      </span>
    </a>

  </div>
</nav>

<style>
  #navbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
</style>


<script>
</script>
