---
const { title } = Astro.props

import '../styles/default.css';
---
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{title}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://kit.fontawesome.com/8da0c7582a.js" crossorigin="anonymous"></script>
  <script src="../scripts/theming.js"></script>

</head>

  <body>
    <div class="main-frame dark-mode">
        <slot />
    </div>
  </body>

  
  <div id="switch-mode" class="has-soft-shadow dark-mode radius-xl py-4 px-4">
    <span class="icon accent-color is-large">
      <i id="switch-icon" class="fas fa-moon fa-xl"></i>
    </span>
  </div>
</html>


<style>

.main-frame {
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 212, 255, 0) 100%), url(../assets/pattern-waves.svg);
  background-repeat: repeat;
  min-height: 100vh;
}


.main-frame.light {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 212, 255, 0) 100%), url(../assets/pattern-waves-light.svg);
}

</style>
